.title{
    color: #4A0266;
    font-size: 11pt;
}
.text{
    color:#AF0FEC;
    font-size: 10pt;
    width: 70%;
}
.hr{
    background-color: #AF0FEC;
    width: 80%;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.card{
    height: 6rem;
}