.container{
    display: flex;
}
.divider{
    background-color: #D8A4FE;
    width: 70%;
    margin: 10px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    row-gap: 10px;
}
.button{
    background-color: #009A0F;
    color: white;
    min-width: 1rem;
    width: 1rem;
    height: 2rem;
}
.button:hover{
    background-color: #009A0F;
    opacity: 0.6;
}
.title{
    color: #4A0266;
    font-size: 24pt;
    text-align: center;
    margin-top: 1rem;
}